/* Write your code here */
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');

  height: 160vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  text-align: center;
  padding: 20px;
}
.btn1 {
  background-color: transparent;
  border-style: none;
}
.btn2 {
  background-color: transparent;
  border-style: none;
}
.center {
  display: flex;
  text-align: center;
}
.img1 {
  margin-top: 30px;
  padding: 100px;
  margin-left: 60px;
}
.middle {
  text-align: center;
  width: 850px;
}
.heading {
  color: white;
}
